.tntx-workflow{
    .joint-selection .handle.rotate { display: none; }
    .joint-selection .handle.resize { display: none; }
    .joint-selection .box { display: none; }
    .joint-selection .selection-wrapper{
        box-sizing: content-box;
        border: 1px dotted #9e9e9e!important;
    }
    .joint-halo.surrounding .handle.e{
        right: -20px;
    }
    .joint-halo.surrounding.small .handle{
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        font-size: 15px;
    }
    .connection-wrap{
        stroke: transparent;
    }
    .joint-link.joint-theme-default .connection-wrap{
        stroke: transparent;
    }
    .joint-link.joint-theme-default .marker-arrowhead{
        display: none;
    }
    .joint-halo.joint-theme-default .handle.direction{
        display: none;
    }
    .joint-selection.joint-theme-default .selection-box{
        border: 2px dashed #607D8B;
        box-sizing: border-box;
        margin-top: 0;
        margin-left: 0;
    }
}
.sub-process{
    display: none;
}